/* styles for currency form */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e0e1dd;

}

form {
    max-width: 400px;
    margin: 20px auto;
}

fieldset {
    padding: 10px;
    border: 1px solid black;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.2em;
}

input[type=text],
input[type=email],
input[type=phone] {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

input[type=submit] {
    margin-bottom: 10px;
}

select {
    display: block;
    margin-bottom: 10px;
}

form ul {
    margin-bottom: 10px;
    list-style-type: none;
}

form li {
    margin-bottom: 5px;
}

.box {
    width: 400px;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid black;
}

.error {
    color: red;
    font-style: italic;
    text-align: center;
}